.footer {
    .wrap {
        max-width: 1450px;
        padding: 20px 10px;
        margin: 0 auto;
    }
}


// .footer {
//     z-index: -100;
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: white;
//     color: black;
//     text-align: center;
//  }